@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth !important;
}
header {
	background-color: #ffffff;
	background: linear-gradient(45deg, transparent 49%, #eeeeee 49% 51%, transparent 51%),
		linear-gradient(-45deg, transparent 49%, #eeeeee 49% 51%, transparent 51%);
	background-size: 3em 3em;
	background-color: #ffffff;
	opacity: 1;
	background-attachment: fixed;
}

#appointment > div {
	background-image: url(../src/assets/web-images/appointment-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
}
#call-icon {
	animation: pulse 1s infinite, ring 2s infinite linear;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 10px rgba(248, 67, 101, 0.7);
	}
	50% {
		transform: scale(1.1);
		box-shadow: 0 0 50px rgb(248, 67, 101);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 10px rgba(248, 67, 101, 0.7);
	}
}

@keyframes ring {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#no-divide::before {
	content: "";
	display: block;
	height: 0;
	border-top: none;
}

@media print {
	.bill-container {
		min-width: 1080px;
	}
	* {
		line-height: -1rem;
	}
}
